body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.7) 70%,rgba(0,0,0,0.7) 70%), url(https://images.unsplash.com/photo-1592822450587-1a027a740da3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dHJhZmZpYyUyMHBvbGljZXxlbnwwfHwwfHw%3D&w=1000&q=80);
  }
  .container{
    text-align: center;
    margin-top: 100px;
  }
  h1{
        font-size: 5rem;
        color: #fff;
        
    }

    p{
        margin-top: -50px;
        color: #fff;
    }
  
  .btn{
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
  }
  .btn1,.btn2{
    color: #fff;
  }
  .btn3,.btn4{
    color: #fff;
  }
  .btn1:hover,.btn2:hover{
    color: #fff;
  }
  .btn3:hover,.btn4:hover{
    color: #fff;
  }
  .btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
  }
  .btn1::before,.btn3::before{
    top: 0;
    border-radius: 0 0 50% 50%;
  }
  .btn2::before,.btn4::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
  }
  .btn3::before,.btn4::before{
    height: 180%;
  }
  .btn1:hover::before,.btn2:hover::before{
    height: 180%;
  }
  .btn3:hover::before,.btn4:hover::before{
    height: 0%;
  }
  